<%= form_with model: ledger_entry, id: "form_ledger_entry", data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } do |form| %>
  <div class="ledger-entries-table ledger-entry-part min-w-full" id="<%= dom_id form.object %>">
    <%= form.date_field :value_on, class: "text-sm block shadow rounded-md border border-gray-200 outline-none px-3 py-2 w-full", data: { "ledger-entry-form-target" => "valueOn", action: "ledger-entry-form#checkDate" } %>
    <%= form.text_field :label, class: "text-sm block shadow rounded-md border border-gray-200 outline-none px-3 py-2 w-full", data: { "ledger-entry-form-target" => "label" } %>
  </div>
  <!-- Template for new part -->
  <template data-nested-form-target="template">
    <%= form.fields_for :parts, LedgerEntryPart.new, child_index: 'NEW_RECORD' do |part_fields| %>
      <%= render "part_form", form: part_fields %>
    <% end %>
  </template>

  <!-- Existing parts -->
  <% ledger_entry.parts.each do |part| %>
    <%= form.fields_for :parts do |part_fields| %>
      <%= render "part_form", form: part_fields %>
    <% end %>
  <% end %>

  <!-- Target for new line insertion -->
  <div data-nested-form-target="target"></div>

  <div class="mt-6">
    <button type="button" data-action="nested-form#add" class="btn-primary btn-small inline-flex items-center gap-x-1.5">
      <%= heroicon "plus", options: { class: "h-5 w-5 -ml-0.5" } %>
      Add Line
    </button>
  </div>

  <div class="ledger-entries-table min-w-full">
    <%= form.submit "Create Ledger Entry", class: "btn-primary w-full", data: { "ledger-entry-form-target" => "formSubmit" } %>
  </div>
<% end %>