<div id="<%= dom_id ledger_entry %>" class="ledger-entries-table ledger-entry-line min-w-full text-sm group hover:bg-gray-50">
  <div class="flex justify-start items-center"><%= ledger_entry.position %></div>
  <div class="flex justify-start items-center"><%= ledger_entry.account_number %><span class="ml-2"><%= ledger_entry.account.label %></span></div>
  <div class="flex justify-end items-center font-medium"><%= ledger_entry.direction == "debit" ? number_with_precision(ledger_entry.amount, precision: 2) : "" %></div>
  <div class="flex justify-end items-center font-medium"><%= ledger_entry.direction == "credit" ? number_with_precision(ledger_entry.amount, precision: 2) : "" %></div>
  <div></div>
</div>
