<div id="<%= dom_id company %>" class="-mx-4 mt-8 overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:-mx-6 md:mx-0 md:rounded-lg">
  <table class="min-w-full divide-y divide-gray-300">
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Name</th>
        <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
          <span class="sr-only">Actions</span>
        </th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200 bg-white">
      <tr>
        <td class="w-full max-w-0 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:w-auto sm:max-w-none sm:pl-6">
          <%= company.name %>
          <%= company.id == session[:company] ? '(Selected)' : '' %>
        </td>
        <td class="py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
        <% if action_name != "show" %>
          <%= link_to "Show this company", company, class: "text-blue-700 hover:text-blue-900" %>
          <%= link_to 'Edit this company', edit_company_path(company), class: "text-blue-700 hover:text-blue-900 ml-2" %>
          <%= link_to 'Select this company', select_company_path(company), method: :get, class: "text-blue-700 hover:text-blue-900 ml-2" %>
        <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
