
  <div data-slideover-target="overlay" class="relative z-40 transition-opacity ease-linear duration-300 opacity-0 hidden" role="dialog" aria-modal="true">
    <!--
      Off-canvas menu backdrop, show/hide based on off-canvas menu state.

      Entering: "transition-opacity ease-linear duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "transition-opacity ease-linear duration-300"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div class="fixed inset-0 bg-gray-600 bg-opacity-75"></div>

    <div  class="fixed inset-0 flex z-40 transition-opacity ease-linear duration-300">
      <!--
        Off-canvas menu, show/hide based on off-canvas menu state.

        Entering: "transition ease-in-out duration-300 transform"
          From: "-translate-x-full"
          To: "translate-x-0"
        Leaving: "transition ease-in-out duration-300 transform"
          From: "translate-x-0"
          To: "-translate-x-full"
      -->
      <div id="slideover-target" data-slideover-target="menu" class="relative flex-1 flex flex-col max-w-xs w-full bg-gray-800 transition ease-in-out duration-300 transform hidden">
        <!--
          Close button, show/hide based on off-canvas menu state.

          Entering: "ease-in-out duration-300"
            From: "opacity-0"
            To: "opacity-100"
          Leaving: "ease-in-out duration-300"
            From: "opacity-100"
            To: "opacity-0"
        -->
        <div class="absolute top-0 right-0 -mr-12 pt-2 ease-in-out duration-300">
          <button data-action="slideover#_hide" type="button" class="ml-1 flex items-center justify-center h-10 w-10 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
            <span class="sr-only">Close sidebar</span>
            <!-- Heroicon name: outline/x -->
            <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>

        <div class="flex-1 h-0 pt-5 pb-4 overflow-y-auto">
          <div class="flex-shrink-0 flex items-center px-4">
            <%= image_tag "logo-white.svg", alt: "ReTok Logo", class: "h-8 w-auto" %>
          </div>
          <nav class="mt-5 px-2 space-y-1">
            <% Rails.application.routes.resources_nav.reject{ |r| r.name == :documents }.each do |section| %>
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <%= link_to Rails.application.routes.url_helpers.send("#{section}_path"), class: (controller.controller_name == section.to_s ? 'bg-gray-900 text-white' : 'text-gray-300 hover:bg-gray-700 hover:text-white') + ' group flex items-center px-2 py-2 text-base font-medium rounded-md' do %>
                <!--
                  Current: "text-gray-300", Default: "text-gray-400 group-hover:text-gray-300"
                -->
                <%= heroicon section.icon, options: { class: (controller.controller_name == section.to_s ? 'text-gray-300' : 'text-gray-400 group-hover:text-gray-300') + ' mr-4 flex-shrink-0 h-6 w-6', viewBox: "0 0 24 24" } %>
                <%= section.to_s.titleize %>
              <% end %>
            <% end %>
            <%= link_to new_document_path, class: (controller.controller_name == 'documents' ? 'bg-gray-900 text-white' : 'text-gray-300 hover:bg-gray-700 hover:text-white') + ' group flex items-center px-2 py-2 text-base font-medium rounded-md' do %>
              <%= heroicon "archive-box", options: { class: (controller.controller_name == 'documents' ? 'text-gray-300' : 'text-gray-400 group-hover:text-gray-300') + ' mr-4 flex-shrink-0 h-6 w-6', viewBox: "0 0 24 24" } %>
              New Document
            <% end %>
          </nav>
        </div>
        <div class="flex-shrink-0 flex bg-gray-700 p-4">
          <a href="#" class="flex-shrink-0 group block">
            <div class="flex items-center">
              <div>
                <img class="inline-block h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
              </div>
              <div class="ml-3">
                <p class="text-base font-medium text-white">Tom Cook</p>
                <p class="text-sm font-medium text-gray-400 group-hover:text-gray-300">View profile</p>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="flex-shrink-0 w-14">
        <!-- Force sidebar to shrink to fit close icon -->
      </div>
    </div>
  </div>
