  <div class="hidden md:flex md:w-64 md:flex-col md:fixed md:inset-y-0">
    <!-- Sidebar component, swap this element with another sidebar if you like -->
    <div class="flex-1 flex flex-col min-h-0 bg-gray-800">
      <div class="flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
        <div class="flex items-center flex-shrink-0 px-4">
          <%= image_tag "logo-white.svg", alt: "ReTok Logo", class: "h-8 w-auto" %>
        </div>
        <nav class="mt-5 flex-1 px-2 space-y-1">
          <% Rails.application.routes.resources_nav.reject{ |r| r.name == :documents }.each do |section| %>
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <%= link_to Rails.application.routes.url_helpers.send("#{section}_path"), class: (controller.controller_name == section.to_s ? 'bg-gray-900 text-white' : 'text-gray-300 hover:bg-gray-700 hover:text-white') + ' group flex items-center px-2 py-2 text-sm font-medium rounded-md' do %>
              <!--
                Current: "text-gray-300", Default: "text-gray-400 group-hover:text-gray-300"
              -->
              <%= heroicon section.icon, options: { class: (controller.controller_name == section.to_s ? 'text-gray-300' : 'text-gray-400 group-hover:text-gray-300') + ' flex-shrink-0 h-6 w-6', viewBox: "0 0 24 24" } %>
              <span class="ml-2">
                <%= section.to_s.titleize %>
              </span>
            <% end %>
          <% end %>
          <%= link_to new_document_path, class: (controller.controller_name == 'documents' ? 'bg-gray-900 text-white' : 'text-gray-300 hover:bg-gray-700 hover:text-white') + ' group flex items-center px-2 py-2 text-sm font-medium rounded-md' do %>
            <%= heroicon "archive-box", options: { class: (controller.controller_name == 'documents' ? 'text-gray-300' : 'text-gray-400 group-hover:text-gray-300') + ' flex-shrink-0 h-6 w-6', viewBox: "0 0 24 24" } %>
            <span class="ml-2">
              New Document
            </span>
          <% end %>
        </nav>
      </div>
      <div class="flex-shrink-0 flex bg-gray-700 p-4">
        <a href="#" class="flex-shrink-0 w-full group block">
          <div class="flex items-center">
            <div>
              <% if current_user.image %>
                <%= image_tag current_user.image, class: "inline-block h-9 w-9 rounded-full", alt:"Signed in user avatar" %>
              <% else %>
                <svg class="inline-block h-9 w-9 rounded-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
                </svg>
              <% end %>
            </div>
            <div class="ml-3">
              <p class="text-sm font-medium text-white"><%= current_user.first_name %></p>
              <p class="text-xs font-medium text-gray-300 group-hover:text-gray-200"><%= current_company.name %></p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>