<div id="<%= dom_id purchase_invoice_line %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Company:</strong>
    <%= purchase_invoice_line.company_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Account number:</strong>
    <%= purchase_invoice_line.account_number_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= purchase_invoice_line.amount %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Tax rate:</strong>
    <%= purchase_invoice_line.tax_rate %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Tax account number:</strong>
    <%= purchase_invoice_line.tax_account_number_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this purchase invoice line", purchase_invoice_line, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this purchase invoice line', edit_purchase_invoice_line_path(purchase_invoice_line), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
