<%= form_with(model: purchase_invoice, class: "contents") do |form| %>
  <% if purchase_invoice.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(purchase_invoice.errors.count, "error") %> prohibited this purchase_invoice from being saved:</h2>

      <ul>
        <% purchase_invoice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div data-controller="purchase-invoice-form">
    <div class="my-6">
      <%= form.label :issued_on, class: "label" %>
      <%= form.date_field :issued_on, autofocus: true, class: "input", data: { 'purchase-invoice-form-target' => 'issuedOn', action: 'purchase-invoice-form#focusOnSupplier' } %>
    </div>

    <div class="my-6 relative" data-controller="autocomplete" data-autocomplete-url-value="/suppliers/search" role="combobox">
      <%= form.label :supplier, class: "label" %>
      <%= form.text_field :blub, class: "input", id: 'supplier', data: { 'autocomplete-target' => 'input' } %>
      <%= form.hidden_field :supplier, data: { 'autocomplete-target' => 'hidden' } %>
      <ul class="list-group absolute z-10 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm" id="options" data-autocomplete-target="results" style="max-height: 10rem; overflow-y: scroll;"></ul>
    </div>

    <div class="my-6">
      <%= form.label :currency, class: "label" %>
      <%= form.collection_select :currency, currencies, :to_s, :to_s, { prompt: true }, { id: 'currencies' , class: 'input w-1/3'}  %>
    </div>

    <div class="my-6">
      <%= form.label :payment_account_id, class: "label" %>
      <%= form.collection_select :payment_account_number, Account.companys, :number, :to_s, { prompt: true }, { id: 'accounts', class: 'input' }  %>
      <%= link_to "New account", new_account_path(target: 'accounts'), data: { turbo_frame: 'modal' }, class: "link text-sm inline-block mt-2" %>
    </div>

    <div class="my-6">
      <%= form.label :paid_on, class: "label" %>
      <%= form.date_field :paid_on, class: "input", id: "paidOn", data: { 'purchase-invoice-form-target' => 'paidOn', action: 'focus->purchase-invoice-form#prefillPaidOn' } %>
    </div>

    <div class="my-6">
      <%= form.label :reference, class: "label" %>
      <%= form.text_field :reference, class: "input", id: "reference" %>
    </div>

    <%= form.hidden_field :document_id %>

    <div class="border-t border-gray-200 flex justify-between items-center">
      <%= form.submit class: "btn-primary mt-6" %>
      <%= link_to 'Back to purchase invoices', purchase_invoices_path, class: "link mt-6" %>
    </div>
  </div>
<% end %>