<%= form_with(model: purchase_invoice, class: "contents", data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' }) do |form| %>
  <% if purchase_invoice.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(purchase_invoice.errors.count, "error") %> prohibited this purchase_invoice from being saved:</h2>

      <ul>
        <% purchase_invoice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div data-controller="purchase-invoice-form">
    <div class="my-6">
      <%= form.label :issued_on, class: "label" %>
      <%= form.date_field :issued_on, class: "input", data: { 'purchase-invoice-form-target' => 'issuedOn', action: 'purchase-invoice-form#focusOnSupplier' } %>
    </div>

    <div class="my-6 relative" id="invoice_supplier">
      <%= form.text_field :supplier_name, id: 'supplier_input', data: {controller: "tom-select", "tom-select-model-value" => "Supplier", "tom-select-value-value" => "name", "tom-select-label-value" => "name", "reflex-serialize-form" => "false"}%>
    </div>

    <div class="my-6 w-1/3 relative" id="currency">
      <%= form.text_field :currency, id: 'supplier_input', data: {controller: "tom-select", "tom-select-model-value" => "Currency", "tom-select-value-value" => "iso", "tom-select-label-value" => "iso", "reflex-serialize-form" => "false"} %>
    </div>

    <div class="my-6 relative" id="account">
      <%= form.text_field :payment_account_number, id: 'account_input', data: {controller: "tom-select", "tom-select-model-value" => "Account", "tom-select-value-value" => "number", "tom-select-label-value" => "description", "reflex-serialize-form" => "false"} %>
    </div>

    <div class="my-6">
      <%= form.label :paid_on, class: "label" %>
      <%= form.date_field :paid_on, class: "input", data: { 'purchase-invoice-form-target' => 'paidOn', action: 'focus->purchase-invoice-form#prefillPaidOn keydown.tab->purchase-invoice-form#focusOnReference' } %>
    </div>

    <div class="my-6">
      <%= form.label :reference, class: "label" %>
      <%= form.text_field :reference, class: "input", data: { 'purchase-invoice-form-target' => 'reference' } %>
    </div>

    <div class="py-6 border-t border-gray-200">
      <h2 class="font-bold text-2xl text-gray-800">Purchase Invoice lines</h2>
      <!-- Nested lines form -->
      <!-- Template for new line -->
      <template data-nested-form-target="template">
        <%= form.fields_for :lines, PurchaseInvoiceLine.new, child_index: 'NEW_RECORD' do |line_fields| %>
          <%= render "line_form", form: line_fields %>
        <% end %>
      </template>

      <!-- Existing lines -->
      <%= form.fields_for :lines do |line_fields| %>
        <%= render "line_form", form: line_fields %>
      <% end %>

      <!-- Target for new line insertion -->
      <div data-nested-form-target="target"></div>

      <div class="mt-6">
        <button type="button" data-action="nested-form#add" class="btn-primary btn-small inline-flex items-center gap-x-1.5">
          <%= heroicon "plus", options: { class: "h-5 w-5 -ml-0.5" } %>
          Add Line
        </button>
      </div>
    </div>

    <%= form.hidden_field :document_id %>

    <div class="border-t border-gray-200 flex justify-between items-center">
      <%= form.submit class: "btn-primary mt-6" %>
      <%= link_to 'Back to purchase invoices', purchase_invoices_path, class: "link mt-6" %>
    </div>
  </div>
<% end %>