<%= form_with(model: purchase_invoice, class: "contents") do |form| %>
  <% if purchase_invoice.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(purchase_invoice.errors.count, "error") %> prohibited this purchase_invoice from being saved:</h2>

      <ul>
        <% purchase_invoice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div data-controller="purchase-invoice-form">
    <div class="my-6">
      <%= form.label :issued_on, class: "label" %>
      <%= form.date_field :issued_on, class: "input", data: { 'purchase-invoice-form-target' => 'issuedOn', action: 'purchase-invoice-form#focusOnSupplier' } %>
    </div>

    <div class="my-6 relative" id="supplier" data-controller="autocomplete" data-autocomplete-url-value="/suppliers/search" role="combobox">
      <%= form.label :supplier, class: "label" %>
      <%= form.text_field :supplier_input, class: "input", data: { 'autocomplete-target' => 'input', 'purchase-invoice-form-target' => 'supplier' } %>
      <%= form.hidden_field :supplier, data: { 'autocomplete-target' => 'hidden' } %>
      <ul class="list-group absolute z-10 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm" id="options" data-autocomplete-target="results" style="max-height: 10rem; overflow-y: scroll;"></ul>
    </div>

    <div class="my-6 w-1/3 relative" id="currency" data-controller="autocomplete" data-autocomplete-url-value="/currencies/search" role="combobox">
      <%= form.label :currency, class: "label" %>
      <%= form.text_field :currency_input, class: "input", data: { 'autocomplete-target' => 'input', 'purchase-invoice-form-target' => 'currency' } %>
      <%= form.hidden_field :currency, data: { 'autocomplete-target' => 'hidden' } %>
      <ul class="list-group absolute z-10 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm" id="options" data-autocomplete-target="results" style="max-height: 10rem; overflow-y: scroll;"></ul>
    </div>

    <div class="my-6 relative" id="payment_account" data-controller="autocomplete" data-autocomplete-url-value="/accounts/search" role="combobox">
      <%= form.label :payment_account_id, class: "label" %>
      <%= form.text_field :payment_account_input, class: "input", id: "account_input", data: { 'autocomplete-target' => 'input', 'purchase-invoice-form-target' => 'account' } %>
      <%= form.hidden_field :payment_account_number, data: { 'autocomplete-target' => 'hidden' } %>
      <ul class="list-group absolute z-10 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm" id="options" data-autocomplete-target="results" style="max-height: 10rem; overflow-y: scroll;"></ul>
      <%# <%= form.collection_select :payment_account_number, Account.companys, :number, :to_s, { prompt: true }, { id: 'accounts', class: 'input', data: { 'purchase-invoice-form-target' => 'account', action: 'purchase-invoice-form#focusOnPaidOn' } }  %>
      <%= link_to "New account", new_account_path(target: 'account_input'), data: { turbo_frame: 'modal' }, class: "link text-sm inline-block mt-2" %>
    </div>

    <div class="my-6">
      <%= form.label :paid_on, class: "label" %>
      <%= form.date_field :paid_on, class: "input", data: { 'purchase-invoice-form-target' => 'paidOn', action: 'focus->purchase-invoice-form#prefillPaidOn keydown.tab->purchase-invoice-form#focusOnReference' } %>
    </div>

    <div class="my-6">
      <%= form.label :reference, class: "label" %>
      <%= form.text_field :reference, class: "input", data: { 'purchase-invoice-form-target' => 'reference' } %>
    </div>

    <%= form.hidden_field :document_id %>

    <div class="border-t border-gray-200 flex justify-between items-center">
      <%= form.submit class: "btn-primary mt-6" %>
      <%= link_to 'Back to purchase invoices', purchase_invoices_path, class: "link mt-6" %>
    </div>
  </div>
<% end %>