<div class="nested-form-wrapper bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl my-6" data-new-record="<%= form.object.new_record? %>">
  <div class="p-6">

    <div class="relative" id="charge_account">
      <%= form.text_field :account_number, id: 'account_input', data: {controller: "tom-select", "tom-select-model-value" => "Account", "tom-select-value-value" => "number", "tom-select-label-value" => "description", "reflex-serialize-form" => "false"}%>
    </div>

    <div class="my-8">
      <%= form.label :amount, class: "label" %>
      <%= form.text_field :amount, class: "input" %>
    </div>

    <div class="my-8 relative" id="tax_account">
      <%= form.text_field :tax_account_number, id: 'account_input', data: {controller: "tom-select", "tom-select-model-value" => "Account", "tom-select-value-value" => "number", "tom-select-label-value" => "description", "reflex-serialize-form" => "false"}%>
    </div>

    <div class="my-8">
      <%= form.label :tax_rate, class: "label" %>
      <%= form.text_field :tax_rate, class: "input" %>
    </div>

    <button type="button" data-action="nested-form#remove" class="btn-white btn-small inline-flex items-center gap-x-1.5">
      <%= heroicon "trash", options: { class: "h-5 w-5 -ml-0.5" } %>
      Remove line
    </button>
  </div>
</div>