<div id="<%= dom_id purchase_invoice %>">

  <p class="my-5">
    <strong class="block font-medium mb-1">Issued on:</strong>
    <%= purchase_invoice.issued_on %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Supplier:</strong>
    <%= purchase_invoice.supplier %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Reference:</strong>
    <%= purchase_invoice.reference %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= purchase_invoice.amount %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Payment account:</strong>
    <%= purchase_invoice.payment_account_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Paid on:</strong>
    <%= purchase_invoice.paid_on %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Attachment:</strong>
    <%= link_to 'Attachment', attachment_purchase_invoice_path(purchase_invoice) if purchase_invoice.attachment_present %>
  </p>

  <% if action_name == "index" %>
    <%= link_to "Show this purchase invoice", purchase_invoice, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this purchase invoice', edit_purchase_invoice_path(purchase_invoice), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
