<li id="<%= dom_id(purchase_invoice) %>">
    <div class="grid grid-cols-6 divide-x">
      <p class="text-sm font-medium text-grey-900 truncate"><%= purchase_invoice.issued_on %></p>
      <p class="text-sm font-medium text-grey-900 truncate"><%= purchase_invoice.supplier %></p>
      <p class="text-sm font-medium text-grey-900 truncate"><%= purchase_invoice.reference %></p>
      <p class="text-sm font-medium text-grey-900 truncate"><%= purchase_invoice.amount %></p>

      <div>
        <%= link_to "Edit", edit_purchase_invoice_path(purchase_invoice), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </div>
    </div>
</li>

