<div class="nested-form-wrapper" data-new-record="<%= form.object.new_record? %>">
    <div class="my-6">
      <%= form.label :first_name, class: "label" %>
      <%= form.text_field :first_name, class: "input" %>
    </div>

    <div class="my-6">
      <%= form.label :last_name, class: "label" %>
      <%= form.text_field :last_name, class: "input" %>
    </div>

    <div class="my-6">
      <%= form.label :work_email, class: "label" %>
      <%= form.text_field :work_email, class: "input" %>
    </div>

    <div class="my-6">
      <%= form.label :phone, class: "label" %>
      <%= form.text_field :phone, class: "input" %>
    </div>


  <button type="button" data-action="nested-form#remove">Remove line</button>
</div>