<%= form_with(model: market_member, class: "contents", data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' }) do |form| %>
  <% if market_member.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(market_member.errors.count, "error") %> prohibited this market_member from being saved:</h2>

      <ul>
        <% market_member.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-6">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, class: "input sm:w-1/4", autofocus: true %>
  </div>

  <!-- Nested contacts form -->
  <div class="bg-white rounded-md shadow-sm p-6 mt-8">
    <h2 class="text-lg font-medium text-gray-900 pb-2 border-b border-gray-200">Contact information</h2>
    <!-- Template for new contact -->
    <template data-nested-form-target="template">
      <%= form.fields_for :contacts, Contact.new, child_index: 'NEW_RECORD' do |contact_fields| %>
        <%= render "contact_form", form: contact_fields %>
      <% end %>
    </template>

    <!-- Existing contact -->
    <%= form.fields_for :contacts do |contact_fields| %>
      <%= render "contact_form", form: contact_fields %>
    <% end %>

    <!-- Target for new line insertion -->
    <div data-nested-form-target="target"></div>

    <button type="button" data-action="nested-form#add" class="link inline-flex items-center mt-6 text-sm font-semibold leading-6">
      <%= heroicon "user-plus", options: { class: "h-4 w-4" } %>
      <span class="ml-1">Add another contact</span>
    </button>
  </div>

  <div class="mt-8">
    <%= form.submit class: "btn-primary" %>
  </div>
<% end %>
