<tr id="<%= dom_id account %>">
  <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-500 sm:pl-6"><%= account.company_id %></td>
  <td class="whitespace-nowrap px-2 py-2 text-sm font-medium text-gray-900">C<%= account.number %></td>
  <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-900"><%= account.label %></td>
  <td class="relative whitespace-nowrap py-2 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
    <%= link_to 'Edit', edit_account_path(account), class: "text-blue-600 hover:text-blue-900" %>
    <%= link_to 'Ledger', purchase_invoices_path(account_id: dom_id(account)), class: "text-blue-600 hover:text-blue-900 ml-2" %>
  </td>
</tr>
