  <div id="<%= dom_id account %>" class="table min-w-full text-sm group hover:bg-gray-50">
    <div class="flex justify-start items-center"><%= account.company_id %></div>
    <div class="flex justify-start items-center">C<%= account.number %></div>
    <%= turbo_frame_tag account do %>
      <div><%= link_to account.label, edit_account_path(account), class: "hover:text-blue-600 hover:underline" %></div>
    <% end %>
    <div class="hidden group-hover:flex justify-end items-center"><%= link_to 'Ledger', purchase_invoices_path(account_id: dom_id(account)), class: "text-blue-600 hover:text-blue-900 ml-2" %></div>
  </div>