  <div id="<%= dom_id account %>" class="account-table account-line text-sm group hover:bg-gray-50">
    <div><%= account.number %></div>
    <div><%= account.label %></div>
    <div><%= number_with_precision(account.sum_debit, precision: 2, delimiter: ' ') %></div>
    <div><%= number_with_precision(account.sum_credit, precision: 2, delimiter: ' ') %></div>
    <div><%= number_with_precision(account.balance, precision: 2, delimiter: ' ') %></div>
    <div class="justify-end items-center">
      <div class="hidden group-hover:flex justify-end items-center"><%= link_to 'Ledger', account_path(account), class: "text-blue-600 hover:text-blue-900 ml-2" %></div>
      <div class="hidden group-hover:flex justify-end items-center">
        <%= button_to account_path(account), form: { data: { turbo_confirm: "Are you sure you want to delete account #{account.label}?" } }, method: :delete, class: "inline-block ml-2" do %>
          <%= heroicon "trash", options: { class: "h-4 w-4 text-gray-600 hover:text-gray-500 inline-block" } %>
        <% end %>
      </div>
    </div>
  </div>