<%= form_with(model: account, class: "contents") do |form| %>
  <%= hidden_field_tag :target, @target %>
  <% if account.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="my-5">
    <%= form.label :number, class: "label" %>
    <%= form.number_field :number, class: "input" %>
  </div>

  <div class="my-5">
    <%= form.label :label, class: "label" %>
    <%= form.text_field :label, class: "input" %>
  </div>

  <div class="border-t border-gray-200">
    <%= form.submit class: "btn-primary mt-5 w-full" %>
  </div>
<% end %>