<%= form_with model: account, id: dom_id(account, "form"), class: "account-table min-w-full" do |form| %>
  <%= hidden_field_tag :target, @target %>
  <div></div>
  <div>
    <%= form.number_field :number, autofocus: true, class: "text-sm block shadow rounded-md border border-gray-200 outline-none px-3 py-2 w-full" %>
    <%= inline_error_for(:number, account) %>
  </div>
  <div>
    <%= form.text_field :label, class: "text-sm block shadow rounded-md border border-gray-200 outline-none px-3 py-2 w-full" %>
    <%= inline_error_for(:label, account) %>
  </div>
  <div class="inline">
    <%= form.submit class: "btn-primary py-2 ml-2" %>
  </div>
<% end %>