<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="pb-5 border-b border-gray-200 flex justify-between items-center">
    <h1 class="heading-1">Accounts</h1>
    <%= link_to 'New account', new_account_path, data: { turbo_frame: "new_account_form" }, class: "btn-primary" %>
  </div>

  <div class="mt-8">
    <%= form_tag accounts_path, method: :get, data: { turbo_frame: "search_accounts", turbo_action: "advance", controller: "search", action: "input->search#submit" } do %>
      <div class="relative mt-2 rounded-md shadow-sm">
        <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
          <%= heroicon "magnifying-glass", options: { class: "h-5 w-5 text-gray-400" } %>
        </div>
        <%= text_field_tag "q", nil, placeholder: "Search...", autofocus: true, class: "input-large pl-10 placeholder:text-gray-400" %>
      </div>
    <% end %>
  </div>

  <div class="mt-8 flow-root">
    <div class="-mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full align-middle sm:px-6 lg:px-8">
        <div class="min-w-full">
          <div class="account-table min-w-full grid-cols-6 bg-gray-50 text-sm font-semibold">
            <div>Number</div>
            <div>Label</div>
            <div>Debit</div>
            <div>Credit</div>
            <div>Balance</div>
            <div><span class="sr-only">Edit</span></div>
          </div>
          <div class="bg-white">
            <%= turbo_frame_tag "new_account_form" %>
            <%= turbo_frame_tag "search_accounts" do %>
              <div id="accounts">
                <%= render partial: 'account', collection: @accounts %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
